body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    margin: 20px 0;
    font-size: 32px;
    color: #06C167;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;
}

.card h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #06C167;
}

.card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}
.my-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#DC5F00;
  }
  #pic-back{
    text-align: left;
    justify-content: left;
    width:800px;
    border-style: ridge;
    
    border-width: 2px;
  }
  .card-title1{
       color:black;
       font-weight: bolder;
  }
  .card-body1{
    background-color: #EEEEEE;
    text-align:center;
  }
  .my-intro{
  
    
      text-align:start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
  #my-pic{
    background-color: #d1d3d8;
    color: #373A40;
    border-width:2px;
    border-style: ridge;
    border-color:black;
  }
  
  .join{
    font-family:cursive;
    color:darkslateblue;
  }
  
  #helping-bridge{
      
   
  font-family:lilita one;
  
     font-weight: bolder;
      color:#DC5F00;
     
    
      text-align: center;
  }
  
  .donate{
      text-align: center;
      color:rgb(133, 245, 248);
      font-family:lilita one;
      background-color: rgb(9, 76, 96);
  }
  .container{
      background-color:#686D76;
  }
  .card-body{
      background-color:#373A40;
     
    }
   
  .card-title{
     background-color:#DC5F00;
    color:white;
  }
  .card-text{
    color:white;
  }
  .container-fluid{
    background-color:EEEEEE;
  }
  
  
  
  .loginbasic{
    height:300px;
    width:400px;
  margin-left:30%;
    margin-top:8%;
    position:fixed;
  
    color:white;
    
    text-align: center;
    
  }
  .loginback{
   
    text-align:center;
      float: inherit;
     font-size: 20px;
     width: 500px;
    
  }
  
  
  .loginbackback{
    border-width: 0px;
    color:white;
  }
  
  
  
  
  .signupbasic{
    height:400px;
    width:500px;
  margin-left:30%;
    margin-top:8%;
    position:fixed;
  
  
    color:white;
    text-align: center;
  
  }
  
  .signupback{
   
    text-align:center;
      float: inherit;
     font-size: 20px;
     width: 500px;
    
  }
  .signupbackback{
     border-width: 0px;
     color:white;
  }
  
  
  
  
  
  
  
  